* {
	font-family: sans-serif;
}
body {
	background-color: #eeeeee;
}
.news-item {
	border: solid 1px white;
	border-radius: 5px;
	background-color: #ccc;
	padding: 5px;
}
.nn-item {
	min-height: 275px;
}
.img-center {
	display: inline-block;
}
.heading-pos {
	position: fixed;
	top: 0;
	left: 0;
}
.news-header-pos {
	margin-top: 25px;
	text-align: center;
}
#sync2 div.owl-item {
	text-align: center;
}
#sync2 .owl-wrapper-outer {
	background-color: #fff;
	opacity: 0.8;
}
.myButton {
	height: 40px;
	padding: 10px;
	cursor: pointer;
}
.synced .myButton {
	background-color: #ccc;
}
