body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	background-color: #eeeeee;
}
a {
  color: #00B7FF;
}
.button {
	display: inline-block;
	border: solid 1px #ccc;
	padding: 5px;
	cursor: pointer;
}
.button:hover {
	background-color: #cecece;
} 
.news-item {
	border: solid 1px white;
	background-color: #ccc;
	padding: 5px;
}
.nn-item {
	min-height: 275px;
}
.img-center {
	display: inline-block;
}
.heading-pos {
	position: fixed;
	top: 0;
	left: 0;
}
.news-header-pos {
	margin-top: 25px;
	text-align: center;
}
#sync2 div.owl-item {
	text-align: center;
}
#sync2 .owl-wrapper-outer {
	background-color: #fff;
	opacity: 0.8;
}
.synced .myButton {
	background-color: #ccc;
}